{include file="common/header"}
<div class="main" style="background-color: #FAFAFA;">
    <img src="__STATIC__/image/school_banner.jpg" width="100%" height="250px" />
    <div class="school warp" style="height: 846px;">
        <div class="school_left">
            <a href="/school/2">
                <div class="school_left_main">
                    <div class="school_left_num">
                        <h2>01

                        </h2>
                    </div>
                    <div class="school_left_title">
                        <h2>学校简介</h2>
                    </div>

                </div>
            </a>
            <a href="/grow/3">
                <div class="school_left_main">
                    <div class="school_left_num active">
                        <h2>02
                            <div style="width: 25px; height: 2px; background-color: #0068B7;position: absolute;left: 35px;"></div>
                        </h2>
                    </div>
                    <div class="school_left_title active_bg">
                        <h2>发展历程</h2>
                    </div>
                </div>
            </a>
            <a href="/word/4">
                <div class="school_left_main">
                    <div class="school_left_num">
                        <h2>03

                        </h2>
                    </div>
                    <div class="school_left_title">
                        <h2>校长寄语</h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="school_right">
            <div class="main_title schoolwarp card" style="border-bottom: 1px solid #e6e6e6;">

                <div class="main_title_log am-fl">
                    <h2 style="font-weight: normal;line-height: 60px;">发展历程</h2>

                </div>
                <div class="title_right">
                    <ol class="breadcrumb-list">
                        <img src="__STATIC__/image/icon.png"> 当前位置：

                        <a href='/' class='crumb'>首页</a> {if !empty($parent) }&gt;
                        <a href='javascript:;' class='crumb'>{$parent['name']}</a> {/if} {if !empty($current) } &gt; <a href='javascript:;' class='crumb'>{$current['name']}</a> {/if}
                </div>
            </div>

            <div class="school_right_main">
                <div class="time_left">
                    <div class="time_left_item">
                        <img src="__STATIC__/image/course-pictuer-1.jpg" alt="" style="float: left;">
                        <div class="time_left_itemr">
                            <h2>2004年/起步</h2>
                            <p>
                                经教委、民政审批的正规非学历辅导培训学校
                            </p>
                        </div>
                    </div>
                    <div class="time_left_item">
                        <img src="__STATIC__/image/course-pictuer-3.jpg" alt="" style="float: left;">
                        <div class="time_left_itemr">
                            <h2 style="color: gray;">2003年/跨越</h2>
                            <p>
                                先后有《中国青年报》《经济日报》等多家媒体纷纷聚焦我校进行客观公正报道
                            </p>
                        </div>
                    </div>
                    <div class="time_left_item">
                        <img src="__STATIC__/image/course-pictuer-5.jpg" alt="" style="float: left;">
                        <div class="time_left_itemr">
                            <h2 style="color: gray;">2004年/起步</h2>
                            <p>
                                经教委、民政审批的正规非学历辅导培训学校
                            </p>
                        </div>
                    </div>


                </div>
                <div class="time_content">
                    <span>2004成立至今</span>
                    <div class="circle"></div>
                    <div class="circle1"></div>
                    <div class="circle2" style="top: 189px;"></div>
                    <div class="circle2" style="top: 321px;"></div>
                    <div class="circle2" style="top: 435px;"></div>
                    <div class="circle2" style="top: 567px;"></div>
                    <div class="timeline">


                    </div>
                </div>
                <div class="time_right">
                    <div class="time_left_item">
                        <img src="__STATIC__/image/course-pictuer-2.jpg" alt="" style="float: right;">
                        <div class="time_left_itemr" style="float: left;">
                            <h2 style="color: gray;">2006年/发展</h2>
                            <p style="direction:ltr;">
                                四次被教委评为先进集体
                            </p>
                        </div>
                    </div>
                    <div class="time_left_item">
                        <img src="__STATIC__/image/course-pictuer-2.jpg" alt="" style="float: right;">
                        <div class="time_left_itemr" style="float: left;">
                            <h2 style="color: gray;">20016年/括展</h2>
                            <p style="direction:ltr;">
                                已拥有超过1万平方米的自有办公场地和固定教室专注于考研，专升本前辅导
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>

{include file="common/footer"}