{include file="common/header"}
<div class="main" style="background-color: #FAFAFA;">
    <img src="__STATIC__/image/school_banner.jpg" width="100%" height="250px" />
    <div class="school warp">
        <div class="school_left">
            <a href="/school/2">
                <div class="school_left_main">
                    <div class="school_left_num active">
                        <h2>01
                            <div style="width: 25px; height: 2px; background-color: #0068B7;position: absolute;left: 35px;"></div>
                        </h2>
                    </div>
                    <div class="school_left_title active_bg">
                        <h2>学校简介</h2>
                    </div>

                </div>
            </a>
            <a href="/grow/3">
                <div class="school_left_main">
                    <div class="school_left_num">
                        <h2>02

                        </h2>
                    </div>
                    <div class="school_left_title">
                        <h2>发展历程</h2>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="school_left_main">
                    <div class="school_left_num">
                        <h2>03

                        </h2>
                    </div>
                    <div class="school_left_title">
                        <h2>校长寄语</h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="school_right">
            <div class="main_title schoolwarp card" style="padding-top: 0;border-bottom: 1px solid #e6e6e6;">

                <div class="main_title_log am-fl">
                    <h2 style="font-weight: normal;line-height: 60px;">学校简介</h2>

                </div>
                <div class="title_right">
                    <ol class="breadcrumb-list">
                        <img src="__STATIC__/image/icon.png"> 当前位置：

                        <a href='/' class='crumb'>首页</a> {if !empty($parent) }&gt;
                        <a href='javascript:;' class='crumb'>{$parent['name']}</a> {/if} {if !empty($current) } &gt; <a href='javascript:;' class='crumb'>{$current['name']}</a> {/if}
                </div>
            </div>

            <div class="school_right_main">
                <div class="school_right_left">
                    <p>重庆市沙坪坝区文登培训学校(以下简称重庆文登或学校)，成立于2004年。学校自成立以来，一直致力于高校升学考试辅导，重庆文登业务覆盖大学教育专升本，在校本科生考研，在职专、本科生考研，管理类联考等全方位的学历考试辅导体系。</p>
                    <p>2004年进驻重庆，是经教委批准的正规的综合性辅导培训学校。2016年分校遍布重庆(重大总部、大学城分校、南坪分校、西大分校、西政分校、合川分校、永川分校)七大校区。2017年拥有超过10000平米的自由办公场地和固定教室的大型辅导学校。</p>
                    <p>重庆文登立足于考研行业10余年，独特的办学优势，真诚的教学服务，良好的升学率，为重庆文登积累了强大的师资以及高校的可靠资源，并与各大知名高校建立起了 人才培养合作战略。</p>
                </div>
                <div class="school_right_right">
                    <img src="__STATIC__/image/picture.jpg">
                </div>

            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>

{include file="common/footer"}