{include file="common/header"}
<div class="main" style="background-color: #FAFAFA;padding:1px ;">

    <div class="news_list warp">
        <div class="news_list_left" style="box-sizing: border-box;padding-bottom: 30px;background-color: #FAFAFA;">
            <div style="background-color: white;width: 100%;">
                <div class="details_title">
                    <img src="__STATIC__{$question['image']}">
                    <div style="float: left; margin-left: 10px;">
                        <h3>{$question['title']}</h3>
                        <div style="margin-top: 20px;"><span style="color: #0068B7;">{$question['username']}</span><span style="color: gray;">{$question['create_time']}&nbsp;&nbsp;提问</span> {if $question['status']==0}
                            <div style="padding: 8px; background-color: #F8B500;color: white;padding-left: 12px; padding-right: 12px;display: inline-block;">待解决</div>
                            {else /}
                            <div style="padding: 8px; background-color: #0068B7;color: white;padding-left: 12px; padding-right: 12px;display: inline-block;">已解决</div>
                            {/if}

                        </div>
                    </div>
                    <div style="float: right;width: 288px;">
                        <div>
                            <img src="__STATIC__/image/dianzan.png" style="margin-left: 12px;" />
                            <div style="margin-top: 10px;">
                                <span>已有 <span style="color:#0068B7 ;">{$question['like']}</span>人点赞&nbsp;&nbsp;&nbsp; <span style="color:#0068B7 ;">{$question['click']}</span>人已阅读&nbsp;&nbsp;&nbsp; <span style="color:#0068B7 ;">{$question['num']}</span>人已评论</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="details_main">
                    <p>{$question['content']}</p>
                    {if empty($user)} <img src="__STATIC__/image/touxiang.png"> {else/} <img src="__STATIC__/{$user['image']}" style="width: 48px; height: 48px; border-radius: 50%;">{/if}<input type="text" placeholder="你有什么想说的呢？"> <input type="button"
                        value="回复" />
                </div>
            </div>
            <div class="details_common">
                <div class="details_common_title">
                    <h3>评论（{$question['num']}）</h3>
                </div>
                <ul>
                    {volist name='comment' id="vo"}
                    <li class="details_common_list">
                        <div>
                            <img src="__STATIC__{$vo['image']}" width="32PX">
                        </div>
                        <div style="float: left;">
                            <div class="details_list_title">
                                <span style="color: #0068B7;">{$vo['username']}</span>
                                <span style="color:gray;">于{$vo['create_time']}评论</span>
                            </div>
                            <div class="details_list_content">
                                <p>{$vo['content']}</p>
                            </div>
                        </div>
                    </li>
                    {/volist}
                </ul>

            </div>
        </div>

        <div class="news_list_right" style="min-height: 620px;">
            <div class="question_left">
                <a href="/question/quiz.html">
                    <img src="__STATIC__/image/question_icon.png">
                    <span style="color: white;font-size: 37px;margin-top: 12px; vertical-align: middle;">马上提问</span>
                </a>
            </div>
            <div class="news_new search_hot" style="padding-top: 12px;padding-right: 29px;padding-left: 29px;">
                <h4 style="margin:0 auto; width:56px">热门问题</h4>

                <ul style="margin-top: 20px;">
                    {volist name="hot" id="vo"}
                    <li style="border-bottom: 0px; background-color: #EFF8FE;margin-bottom: 10px;">
                        <a href="/details/{$vo['id']}.html">
                            <div style="display: inline-block;width: 250px;vertical-align:middle;">
                                <p>{$vo['title']}</p>
                            </div>
                        </a>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>



        <div style="clear: both;"></div>
    </div>

</div>
<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate'], function() {

        var form = layui.form

        , layer = layui.layer

        , layedit = layui.layedit

        , laydate = layui.laydate;

        //自定义验证规则

        form.verify({

            title: function(value) {

                if (value.length < 5) {

                    return '标题至少得5个字符啊';

                }

            },
            fname: function(value) {

                if (value.length < 4) {

                    return '请输入至少4位的用户名';

                }

            },
            contact: function(value) {

                if (value.length < 4) {

                    return '内容请输入至少4个字符';

                }

            }

            ,
            phone: [/^1[3|4|5|7|8]\d{9}$/, '手机必须11位，只能是数字！']

            ,
            email: [/^[a-z0-9._%-]+@([a-z0-9-]+\.)+[a-z]{2,4}$|^1[3|4|5|7|8]\d{9}$/, '邮箱格式不对']

        });

        //创建一个编辑器

        layedit.build('LAY_demo_editor');

        //监听提交

        form.on('submit(demo1)', function(data) {
            $.ajax({
                type: 'POST',
                url: '/quiz/quizedit',
                data: $("form").serializeArray(),
                success: function(data) {
                    if (data.status == 1) {

                        layer.msg(data.message, {
                            icon: 6
                        });
                        history.back(-1);
                    } else {
                        layer.msg(data.message, {
                            icon: 5
                        });
                        history.go(0)
                    }

                }



            })

        });

    });
</script>
<div style="clear: both;"></div>
{include file="common/footer"}