{include file="common/header"}
<div class="main" style="background-color: #FAFAFA;padding:1px ;">

    <div class="main_title warp titlecard">

        <div class="main_title_log am-fl">
            <img src="__STATIC__/image/zl.png">
            <h2>师资力量</h2>
        </div>
        <div class="title_right">
            <ol class="breadcrumb-list">
                <img src="__STATIC__/image/icon.png"> 当前位置：

                <a href='/' class='crumb'>首页</a>&gt;
                <a href='/teacher.html' class='crumb'>师资力量</a> &gt;
                <a href='javascript:;' class='crumb'>{$teacher['username']}</a>
        </div>

    </div>
    <div class="teacher_title" style="height: 450px;">
        <div class="teacher_in">
            <img src="__STATIC__{$teacher['image']}" height="100%" />
            <div class="teacher_in_right">
                <h2>{$teacher['username']}</h2>

                <span>{$teacher['major']}</span>
                <p>{$teacher['content']}</p>

            </div>
        </div>
    </div>
    <div class="teacher_courses">
        <div class="teacher_courses_left">
            <div class="teacher_courses_tite">
                <div style="width: 120px;height: 100%; background-color: #0068B7;border-radius: 0 230px 0px 0px;float: left;">
                    <h2 style="color: white;line-height: 35px;margin-left: 12px;">相关课程</h2>
                </div>
                <span style="float: left;line-height: 35px;font-size: 18px;margin-left: 31px;color: #C8C8C8;">Related courses</span>
            </div>
            <div class="teacher_courses_main">
                <ul>
                    {volist name="coursesarr" id="vo"}
                    <div style="height:217px ;float: left;margin-top: 12px;" class="clear">
                        <li class="teacher_list" style="height: 213px; margin-left: 0; margin-right: 25px;">
                            <a href="course/{$vo['id']}">
                                <div class="course" style="background-image: url(__STATIC__{$vo['image']}); background-size:100% 100%">
                                    <div class="course_name">
                                        <h2>{$vo['course_name']}</h2>
                                    </div>

                                </div>
                                <div class="course_price">
                                    <span style="color:#FF8E42 ;">{$vo['price']}</span> &nbsp;&nbsp;&nbsp;
                                    <span style="color: gray;">原价:<del>{$vo['oldprice']}</del></span>

                                </div>
                            </a>
                        </li>
                    </div>
                    {/volist}

                </ul>


            </div>

        </div>
        <div class="teacher_courses_right"></div>
    </div>
</div>


<div style="clear: both;"></div>
{include file="common/footer"}