* {
    font-family: "Microsoft YaHei";
    padding: 0;
    margin: 0;
}

.am-cf:after,
.am-cf:before {
    content: " ";
    display: table;
}

a {
    text-decoration: none;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 40px;
    background-color: #f8f8f8;
    color: #7f7f7f;
}

.title {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.title_left {
    font-size: 15px;
    line-height: 40px;
    float: left;
    vertical-align: middle;
}

.title_right {
    float: right;
}

.title_right ul {
    list-style: none;
}

.title_right li {
    float: left;
    padding: 10px;
}

.title_right a {
    font-size: 14px;
    color: #7f7f7f;
}

.term {
    width: 1px;
    height: 20px;
    vertical-align: middle;
    background-color: #7f7f7f;
}

.head_up {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid white;
}

.logo {
    margin-top: 29px;
}

.am-fl {
    float: left;
}

.logo img {
    width: 150px;
    height: 42px;
    float: left;
}

.logo img:nth-child(2) {
    margin-left: 5px;
}

ul,
li {
    list-style: none;
}

.area {
    margin-left: 20px;
}

.area li {
    width: 123px;
    color: #7f7f7f;
    height: 24px;
    border: 1px solid #7f7f7f;
    line-height: 24px;
    background-color: white;
}

.area li a {
    color: #7f7f7f;
}

.area ul>li {
    position: relative;
    float: left;
    text-align: center;
    margin-top: 38px;
    margin-left: 10px;
}

.area ol {
    display: none;
    position: absolute;
    transition: all .5s;
    top: 24px;
    left: -1px;
}

.area li:hover ol {
    display: block;
}

.area li:hover {
    background-color: #0068B7;
    border: 1px solid #0068B7;
}

.area li:hover>a {
    color: white;
}

.am-cf {
    float: right;
}

.area ol li {
    margin-bottom: -1px;
    z-index: 99;
    position: relative;
}

.header .head_up .ewm img {
    width: 75px;
}

.header .head_up .ewm p {
    margin: 0;
    text-align: center;
    font-size: 15px;
    color: #333333;
}

.header .head_up .ewm {
    float: right;
    width: 75px;
    margin-top: 15px;
}

.header .head_up .search {
    width: 230px;
    height: 38px;
    float: right;
    margin-top: 29px;
    font-size: 25px;
    color: #0068b7;
    background-image: url("../image/tel.png");
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 35px;
}

.nav {
    width: 100%;
    background-color: #0068b7;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 22;
}

.text-bt {
    width: 1200px;
    margin: 0 auto;
}

.tapBoxf {
    background: #0068b7;
    width: 100%
}

.tapBoxfn ul li {
    float: left
}

.tapBoxfn ul li .tapa {
    height: 50px;
    display: block;
    padding: 0 36px;
    color: #fff;
    font-size: 16px;
    line-height: 50px;
}

.tapBoxfn ul .active {
    background: #1c8dc7;
}

.tapBoxfn ul li:hover .tapa {
    background: #1c8dc7;
}

.tapBoxfn ul li .m {
    background: #1c8dc7;
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 55;
    display: none;
}

.tapBoxfn ul li .n {
    width: 1200px;
    margin: 0 auto;
}

.tapBoxfn ul li .l {
    width: 1167px;
    float: right;
    text-align: left;
}

.tapBoxfn ul li .l dd {
    display: inline-block;
    margin-left: 20px;
}

.tapBoxfn ul li .l dd:first-child {
    margin-left: 35px;
}

.tapBoxfn ul li .l dd a {
    display: block;
    padding: 5px 10px;
    color: #fff;
    margin-top: 8px;
    font-size: 16px
}

.tapBoxfn ul li .l dd:hover a {
    background: #fff;
    border-radius: 30px;
    color: #0091db;
}

.tapBoxfn ul li:hover .m {
    display: block;
}

.tapBoxfn ul li:nth-child(3):hover .l dl {
    margin-left: 200px
}

.tapBoxfn ul li:nth-child(4):hover .l dl {
    margin-left: 330px
}

.tapBoxfn ul li:nth-child(5):hover .l dl {
    margin-left: 350px
}

.tapBoxfn ul li:nth-child(6):hover .l dl {
    margin-left: 610px
}

.tapBoxfn ul li:nth-child(8):hover .l dl {
    margin-left: 820px
}

.tapBoxfn ul li:last-child:hover .l dl {
    margin-left: 900px
}

.footer {
    width: 100%;
    background-color: #1775bc;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer_main {
    width: 1200px;
    height: 115px;
    position: relative;
    margin: 0 auto;
}

.footer_log {
    width: 205px;
    height: 105px;
    border-right: 1px solid #cccccc;
}

.warp {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.footer_list {
    margin-left: 100px;
    width: 655px;
}

.card_main {
    min-height: 441px;
    width: 1200px;
}

.footer_list li {
    list-style: disc;
    line-height: 35px;
    width: 216px;
    float: left;
    color: white;
}

.footer_list a {
    color: white;
}

.footer_list a:hover {
    border-bottom: 1px solid white;
}

.footer_em img {
    width: 98px;
}

.footer_em div {
    margin-left: 3px;
    width: 138px;
    height: 100%;
    text-align: center;
}

.footer_em p {
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: 37px;
}

.footer_em button {
    border: none;
    border-radius: 12px;
    padding: 5px;
    width: 95px;
    font-weight: bold;
    color: #1c8dc7;
    background-color: white;
    cursor: pointer;
    outline: none;
}

.footer_dian {
    position: absolute;
    background-image: url('../image/top.jpg');
    background-position: center;
    background-repeat: no-repeat;
    left: 560px;
    top: -57px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.card {
    margin-top: 25px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    box-shadow: 0 0 6px white;
}

.news {
    height: 328px;
}

.title_log h2 {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    line-height: 50px;
}

.card_title {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #cccccc;
}

.news ul {
    margin-top: 10px;
}

.news li {
    width: 530px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #cccccc;
}

.news>ul>li:nth-child(odd) {
    float: left;
}

.news>ul>li:nth-child(even) {
    float: right;
}

.news>ul>li:hover a {
    color: #0068b7;
}

.teat {
    height: 426px;
}

.card_title_conten {
    display: inline-block;
    font-weight: bold;
    margin-left: 330px;
    margin-top: 16px;
}

.card_title_conten li {
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    margin-left: 30px;
    float: left;
    text-align: center;
}

.card_title_conten li:hover {
    color: #0068b7;
    border-bottom: 1px solid #0068b7;
}

.card_title_conten .active {
    color: #0068b7;
    border-bottom: 1px solid #0068b7;
}

.card_content {
    display: none;
}

.card_content {
    margin-top: 15px;
    display: block;
}

.teacher_list {
    float: left;
    cursor: pointer;
    vertical-align: middle;
    height: 273px;
    border: 1px solid #ECECEB;
}

.teacher_list:hover {
    border-bottom: 2px solid #0068b7;
}

.teacher_list:not(:first-child) {
    margin-left: 32px;
}

.teacher_list>div span:nth-child(1) {
    display: inline-block;
    padding: 5px;
    font-size: 20px;
    margin-right: 12px;
    color: gray;
}

.teacher_list:hover div span {
    color: #0068B7;
}

.teacher_list:hover div span:nth-child(2) {
    color: #0068B7;
}

.active_bg a {
    color: white;
}

.teacher_list>div span:nth-child(2) {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
    color: gray;
}

.student {
    height: 308px;
}

.student ul {
    margin-top: 10px;
}

.course {
    width: 210px;
    height: 161px;
    background-size: 100%;
}

.course_name {
    padding-top: 63px;
    text-align: center;
}

.course_name h2 {
    font-weight: bold;
    font-size: 26px;
    line-height: 50px;
    color: white;
    height: 50px;
    background-color: #69ABF4;
    opacity: .8;
}

.course_price {
    text-align: center;
    padding: 10px;
}

.course_price span:nth-child(1) {
    font-size: 21px;
    color: #FF8E42;
    font-weight: bold;
}

.course_price span:nth-child(2) {
    font-size: 14px;
    color: #cccccc;
}

.card_content .teacher_list:hover div>span:nth-child(1) {
    color: #69ABF4;
}

.video_left {
    float: left;
    position: relative;
    width: 444px;
    overflow: hidden;
}

.video_in {
    width: 444px;
    height: 40px;
    top: 307px;
    background-color: #0068b7;
    position: absolute;
    opacity: .8;
}

.video_in_title h2 {
    display: inline-block;
    line-height: 40px;
    color: white;
    font-size: 16px;
    margin-left: 12px;
}

.video_in_title span {
    line-height: 40px;
    float: right;
    color: white;
    font-size: 16px;
    margin-right: 12px;
}

.video_in_paly {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 36%;
    left: 42%;
}

.video_right {
    float: right;
    width: 743px;
    margin-left: 12px;
}

.video_right li {
    width: 222px;
    height: 160px;
    margin-left: 20px;
    position: relative;
    float: left;
}

.video_right li:nth-child(4) {
    margin-top: 20px;
}

.video_right li:nth-child(5) {
    margin-top: 20px;
}

.video_right li:nth-child(6) {
    margin-top: 20px;
}

.video_right .video_in {
    position: absolute;
    width: 100%;
    height: 28px;
    top: 140px;
    font-size: 12px;
    background-color: #504F4C;
    opacity: .8;
}

.video_right .video_in h2 {
    line-height: 28px;
    font-size: 12px;
}

.video_right .video_in span {
    line-height: 28px;
    font-size: 14px;
}

.branch {
    height: 580px;
}

.branch_list {
    display: inline-block;
    border: 1px solid #ECECEB;
    margin-top: 10px;
    width: 274PX;
}

.branch_list:not(:first-child) {
    margin-left: 27px;
}

.branch_list:nth-child(5) {
    margin-left: 0px;
}

.branch_list .course_price span {
    font-size: 16px;
    font-weight: lighter;
    color: gray;
}

.branch_list:hover {
    border-bottom: 2px solid #0068b7;
}

.branch_list:hover span {
    color: #0068b7;
}

.link {
    height: 140px;
}

.link ul li {
    margin-right: 10px;
    font-size: 18px;
    float: left;
}

.videoplay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(80, 79, 76, .5);
}

.videoplay_main {
    width: 800px;
    height: 540px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #444444;
}

.videoplay_main_title h2 {
    margin-top: 14px;
    font-weight: bold;
    color: white;
    margin-left: 15px;
}

.zxwd {
    position: fixed;
    top: 120px;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 320px;
    background-color: white;
}

.zxwd_title {
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: #0068B7;
}

.zxwd_title h2 {
    line-height: 60px;
    color: white;
}

.zxwd_content {
    padding-left: 60px;
}

.zxwd_content_wd {
    width: 90%;
    box-sizing: border-box;
    height: 100px;
}

.zxwd_content_log {
    padding-right: 50px;
    line-height: 100px;
    float: left;
}

.zxwd_content_wd ul {
    margin-top: 36px;
    float: left;
}

.zxwd_content_wd span {
    line-height: 100px;
    display: block;
    float: left;
}

.zxwd_content_main {
    cursor: pointer;
    margin-top: 34px;
    margin-left: 20px;
    border: 1px solid #E6E6E6;
    width: 112px;
    height: 27px;
    text-align: center;
    float: left;
    line-height: 27px;
}

.zxwd_content_item span {
    text-align: center;
}

.zxwd_content_main:hover {
    color: white;
    background-color: #0068B7;
}

.main_title {
    height: 60px;
}

.main_title_log h2 {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    line-height: 53px;
}

.titlecard {
    margin-top: 17px;
    padding-top: 8px;
    padding-left: 20px;
    box-sizing: border-box;
    padding-right: 20px;
    background-color: white;
    box-shadow: 0 0 6px white;
}

.breadcrumb-list {
    font-size: 13px;
    padding: 15px 0;
    margin: 0;
    float: right;
    margin-right: 20px;
}

.news_list {
    margin-top: 20px;
    margin-bottom: 30px;
}

.news_list_left {
    float: left;
    width: 877px;
    background-color: white;
    box-shadow: 0 0 6px white;
}

.news_list_right {
    min-height: 822px;
    float: left;
    margin-left: 21px;
    width: 300px;
    box-shadow: 0 0 6px white;
}

.search_hot {
    margin-top: 6px;
}

.news_list_left>ul:nth-child(1) li {
    height: 150px;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid #E6E6E6;
    overflow: hidden;
}

.news_list_left>ul:nth-child(1) li:hover>a>div {
    color: #0068B7;
}

.news_list_left_main {
    margin-left: 12px;
    color: #7f7f7f;
    width: 589px;
    float: left;
}

.news_list_left_main h3 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 12px;
}

.news_list_left_main p {
    line-height: 19px;
    text-overflow: ellipsis;
}

.news_list_left_main>div:nth-child(2) {
    margin-top: 8px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.pagination a {
    text-decoration: none;
    margin-right: 0px!important;
}

ul.pagination li {
    display: inline;
}

.disabled,
.pagination .active,
.pagination li a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: .3;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination .active {
    background-color: #0068B7;
    color: white;
    border: 1px solid #0068B7;
}

.disabled {
    background-color: rgba(236, 236, 236, 0.78);
}

ul.pagination a.active {
    background-color: #0068B7;
    color: white;
    border: 1px solid #0068B7;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

.news_search {
    padding-left: 20px;
    padding-right: auto;
    padding-top: 30px;
    background-color: white;
}

.search_in input[type=text] {
    padding: 8px;
    width: 194px;
    border: 1px solid #E6E6E6;
}

.search_in input[type=submit] {
    cursor: pointer;
    padding: 8px;
    margin-left: -4px;
    border: 1px solid #E6E6E6;
    background-color: white;
    color: #0068B7;
}

.search_hot h3 {
    display: inline-block;
    vertical-align: middle;
}

.search_hot ul>li {
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: hidden;
    border-bottom: 1px solid #E6E6E6;
}

.search_hot ul>li p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search_hot ul>li p:hover {
    color: #0068B7;
}

.news_new {
    margin-top: 30px;
    padding-bottom: 10px;
    background-color: white;
}

.school {
    margin-top: 17px;
    padding-top: 8px;
    padding-left: 20px;
    box-sizing: border-box;
    padding-right: 20px;
    margin-bottom: 60px;
}

.school_left {
    float: left;
}

.school_left_main {
    position: relative;
    width: 268px;
    height: 70px;
    margin-bottom: 12px;
    color: gray;
    box-shadow: 0 0 6px white;
    background-color: white;
}

.school_left_num {
    float: left;
    height: 100%;
    text-align: center;
    width: 100px;
}

.school_left_title {
    text-align: center;
    float: left;
    width: 168px;
    height: 100%;
}

.school_left_title h2 {
    line-height: 70px;
}

.school_left_num h2 {
    font-size: 30px;
    margin-top: 16px;
    padding-bottom: 8px;
    border-right: 1px solid #E6E6E6;
}

.active h2 {
    color: #0068B7;
}

.active_bg {
    background-color: #0068B7;
    color: white;
}

.school_right {
    float: right;
    width: 867px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 6px white;
}

.schoolwarp {
    margin: 0 auto;
    position: relative;
}

.school_right_main {
    position: relative;
    margin-top: 24px;
    width: 100%;
    padding-right: 6px;
    padding-left: 6px;
    box-sizing: border-box;
    margin-bottom: 35px;
}

.school_right_left {
    width: 500px;
}

.school_right_left {
    float: left;
    line-height: 25px;
}

.school_right_left p {
    color: gray;
    margin-bottom: 20px;
}

.school_right_right {
    float: right;
}

.time_left {
    float: left;
    width: 377px;
    margin-left: 15px;
    margin-top: 60px;
}

.time_left_item {
    height: 120px;
    margin-bottom: 124px;
}

.time_left_itemr {
    float: right;
    width: 150px;
    height: 118px;
}

.time_left_itemr h2 {
    color: #0068B7;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
}

.time_left_itemr p {
    color: gray;
    direction: rtl;
}

.timeline {
    position: relative;
    width: 1px;
    top: 10px;
    height: 641px;
    margin: 0 auto;
    background-color: gray;
}

.time_content {
    float: left;
    text-align: center;
}

.time_content span {
    font-size: 12px;
    color: gray;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.main::after {
    content: '';
    display: block;
    clear: both;
}

.circle {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 49.7%;
    background-image: url(../image/c.png);
}

.circle1 {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 49.5%;
    top: 75px;
    background-image: url(../image/d.png);
}

.circle2 {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 49.5%;
    top: 117px;
    background-image: url(../image/b.png);
}

.time_right {
    float: right;
    margin-right: 14px;
    margin-top: 170px;
}

.school_message {
    position: absolute;
    box-sizing: border-box;
    top: 37px;
    left: 370px;
    width: 432px;
    height: 237px;
    padding: 20px;
    padding-left: 42px;
    background-image: url(../image/aa.png);
}

.school_message p {
    font-family: KaiTi;
    color: white;
    font-size: 17px;
    line-height: 27px;
}

.school_message span {
    font-family: KaiTi;
    font-size: 16px;
    color: white;
    float: right;
}

.teacher_title {
    padding-top: 6px;
    padding-left: 20px;
    box-sizing: border-box;
    padding-right: 20px;
    box-shadow: 0 0 6px white;
    width: 1200px;
    height: 50px;
    background-color: white;
    margin: 0 auto;
    border-top: 1px solid #E6E6E6;
}

.teacher_title h2 {
    float: left;
}

.teacher_title h3 {
    margin-top: 8px;
    float: left;
}

.teacher_title ul {
    float: left;
}

.teacher_title ul>li {
    cursor: pointer;
    display: block;
    margin-top: 2px;
    float: left;
    margin-left: 17px;
    width: 68px;
    height: 29px;
    text-align: center;
    border-radius: 13px;
}

.teacher_title ul>li span {
    display: block;
    margin-top: 4px;
}

.news_list_left table th {
    background-color: #F5F5F5;
    color: black;
}

.news_list_left table h3 {
    font-weight: bold;
}

.news_list_left table td,
th {
    text-align: center;
    border: 1px solid #cccccc;
    height: 39px;
}

.question ul>li {
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid #E6E6E6;
    overflow: hidden;
}

.question ul>li div:nth-child(1) {
    margin-top: 12px;
}

.question_left {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    padding-top: 20px;
    background-color: #F8B500;
}

.job {
    margin-top: 20px;
}

.job li {
    cursor: pointer;
    width: 402px;
    margin-top: 23px;
    padding: 6px;
    box-sizing: border-box;
    height: 181px;
    border: 1px solid #ECECEB;
    float: left;
}

.job li:hover {
    border: 1px solid #0068B7;
}

.job li:hover h2 {
    color: #0068B7;
}

.job li:hover span {
    color: #0068B7;
}

.job li:nth-child(odd) {
    margin-right: 11px;
}

.job li>div:nth-child(1) {
    width: 100%;
    height: 80px;
    overflow: hidden;
    margin-top: 12px;
    margin-bottom: 12px;
}

.job li span {
    color: gray;
}

.job li div p {
    text-overflow: ellipsis;
    color: gray;
}

.contact {
    height: 266px;
    width: 100%;
}

.contact p {
    line-height: 64px;
}

.video_main li {
    margin-top: 15px;
    width: 267px;
    height: 204px;
    margin-left: 20px;
    position: relative;
    float: left;
}

.video_main .video_in {
    position: absolute;
    width: 100%;
    height: 28px;
    top: 174px;
    font-size: 12px;
    background-color: #504F4C;
    opacity: .8;
}

.video_main .video_in h2 {
    line-height: 28px;
    font-size: 12px;
}

.video_main .video_in span {
    line-height: 28px;
    font-size: 14px;
}

.article_title {
    padding: 10px;
    padding-top: 20px;
    border-bottom: 1px solid #DBD9D9;
}

.article_main {
    padding: 10px;
    padding-top: 35px;
}

.article_btn {
    margin-right: 12px;
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 6px;
    padding-left: 6px;
    border: 1px solid #DBD9D9;
    color: gray;
    border-radius: 10px;
}

.teacher_in {
    height: 400px;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid #ECECEB;
}

.teacher_in img {
    float: left;
}

.teacher_in_right {
    margin-top: 20px;
    width: 670px;
    margin-left: 40px;
    float: left;
}

.teacher_in_right h2 {
    padding-bottom: 8px;
    width: 65px;
    color: #0068B7;
    float: none;
    border-bottom: 2px solid #0068B7;
    margin-bottom: 2px;
}

.teacher_in_right span {
    font-size: 18px;
    color: #0068B7;
}

.teacher_in_right p {
    margin-top: 25px;
    color: gray;
}

.teacher_courses {
    padding: 30px;
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    margin-top: 12px;
    min-height: 200px;
}

.teacher_courses_left {
    float: left;
    width: 688px;
}

.teacher_courses_tite {
    width: 100%;
    height: 35px;
    background-color: #F2F2F2;
}

.teacher_courses_right {
    margin-left: 40px;
    width: 410px;
    float: left;
}

.teacher_courses_rmain {
    padding: 10px;
}

.teacher_courses_rmain input {
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ECECEB;
}

.teacher_courses_rmain input[type=button] {
    cursor: pointer;
    background-color: #0068B7;
    color: white;
    font-size: 18px;
}

.course_title {
    width: 80%;
    height: 67px;
    margin: 0 auto;
    margin-top: 12px;
    background-color: #FAFAFA;
}

.course_title span {
    display: inline-block;
    margin-top: 12px;
    margin-left: 12px;
}

.course_title button {
    cursor: pointer;
    margin-left: 50px;
    padding: 7px;
    background-color: #FF7800;
    border: 0;
    color: white;
    border-radius: 29px;
}

.job_details {
    position: fixed;
    background-color: white;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    width: 838px;
    top: 100px;
    left: 28%;
    z-index: 9999;
}

.job_details_title {
    height: 40PX;
    border-bottom: 1px solid #ECECEB;
}

.job_details_title h2 {
    margin: 12px auto;
    width: 147px;
    color: #0068B7;
}

.job_clear {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -22px;
    left: 814px;
    background-image: url(../image/n.png);
}

.branch_left ul li {
    position: relative;
    font-size: 16px;
    width: 119px;
    text-align: center;
    height: 24px;
    margin-top: 7px;
    float: left;
}

.branch_left ul li:not(:last-child) {
    border-right: 1px solid #999999;
}

.branch_left {
    margin-top: 27px;
}

.branch_left span {
    display: block;
    float: left;
    margin-right: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    font-size: 18px;
    background-color: #0068B7;
}

.branch_left .xuanfu {
    display: none;
    position: absolute;
    background: url(../image/kuang.png) no-repeat;
    background-size: 100%;
    width: 330px;
    height: 65px;
    bottom: 22px;
}

.login_main {
    padding: 1px;
    height: 735px;
    background: url(../image/background.jpg) no-repeat;
}

.login_conter {
    width: 1100px;
    height: 600px;
    margin: 0 auto;
    margin-top: 65px;
}

.login_left {
    float: left;
    height: 100%;
}

.login_right {
    width: 550px;
    height: 100%;
    float: left;
    background-color: white;
}

.login_log {
    margin-top: 32px;
    text-align: center;
}

.login_right .qiehuan {
    margin-top: 31px;
    text-align: center;
}

.qiehuan button {
    border: 1px solid #0068B7;
    background-color: white;
    color: #0068B7;
    padding: 12px 82px 12px 82px;
    float: left;
}

.login_form input[type=text] {
    margin-top: 24px;
    padding: 10px;
    padding-left: 40px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    width: 100%;
    border-radius: 10px;
}

.login_form input[type=password] {
    margin-top: 24px;
    padding: 10px;
    padding-left: 40px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    width: 100%;
    border-radius: 10px;
}

.login_form input[type=button] {
    cursor: pointer;
    margin-top: 24px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #999999;
    background-color: #E6E6E6;
    border: 1px solid #E6E6E6;
}

.login_form input[type=button]:hover {
    background-color: #0068B7;
    color: white;
}

#code {
    cursor: pointer;
    width: 37%;
    margin-top: 24px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px 10px 10px 0px;
    color: #999999;
    background-color: #0068B7;
    color: white;
    border: 1px solid #0068B7;
}

.user_main {
    padding: 1px;
    width: 1200px;
    margin: 0 auto;
}

.user_left {
    float: left;
    margin-top: 12px;
    width: 350px;
    height: 700px;
    margin-bottom: 10px;
    background-color: white;
}

.user_right {
    padding-bottom: 20px;
    float: left;
    margin-top: 12px;
    margin-left: 12px;
    background-color: white;
    width: 830px;
    margin-bottom: 10px;
}

.user_log {
    text-align: center;
}

.user_log>img {
    margin-top: 24px;
    width: 156px;
    border-radius: 50%;
}

.user_log>h3 {
    margin-top: 6px;
}

.user_log button {
    cursor: pointer;
    width: 81px;
    height: 26px;
    margin-top: 12px;
    background-color: white;
    border: 1px solid #BFBFBF;
    color: #BFBFBF;
}

.user_list {
    margin-top: 40px;
}

.user_list ul>li {
    margin-bottom: 1px;
    width: 100%;
    text-align: center;
    padding-top: 18px;
    font-size: 17px;
    padding-bottom: 18px;
    color: #333333;
    border-bottom: 1px solid #ECECEB;
}

.user_right_title {
    width: 762px;
    margin: 0 auto;
    padding-bottom: 6px;
    border-bottom: 1px solid #ECECEB;
    margin-top: 25px;
}

.user_right_title>h3 {
    padding-left: 6px;
    border-left: 2px solid #0068B7;
    font-weight: bold;
}

.user_right_main {
    width: 100%;
}

.user_right_xiangxi {
    width: 100%;
    margin-top: 24px;
}

.user_right_xiangxi ul>li {
    margin-bottom: 24px;
    width: 244px;
    float: left;
    margin-left: 24px;
    height: 30px;
    line-height: 30px;
}

.user_right_xiangxi ul>li span {
    color: #999999;
}

.user_right_xiangxi input[type=text] {
    height: 30px;
    padding-left: 12px;
    border-radius: 10px;
    border: 1px solid #ECECEB;
}

.user_right_xiangxi input[type=email] {
    height: 30px;
    padding-left: 12px;
    border-radius: 10px;
    border: 1px solid #ECECEB;
}

.user_right_xiangxi input[type=button] {
    cursor: pointer;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    color: white;
    background-color: #0068B7;
    border: none;
    margin-left: 385px;
    margin-top: 80px;
}

.account ul>li {
    margin-top: 10px;
    height: 25px;
}

.account ul>li button {
    cursor: pointer;
    width: 79px;
    height: 27px;
    background-color: #1F8FE3;
    color: white;
    border: none;
    border-radius: 10px;
    display: inline-block;
}

.account ul>li span {
    color: gray;
}

.email_edit {
    padding: 1px;
    width: 800px;
    margin: 0 auto;
    margin-top: 68px;
    margin-bottom: 68px;
}

.email_edit a {
    display: block;
    float: right;
    color: #0068B7;
}

.email_edit_main {
    margin-top: 24px;
    width: 100%;
    height: 500px;
    background-color: white;
}

.email_edit_title {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #0068B7;
}

.email_edit_title>h2 {
    line-height: 70px;
    font-size: 30px;
    color: white;
}

.email_form {
    width: 300px;
    margin: 0 auto;
    margin-top: 24px;
    text-align: center;
}

.email_form input {
    margin-top: 20px;
}

.email_form span {
    font-size: 18px;
}

.email_form input[type=email] {
    border: 1px solid #ECECEB;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    background-color: #ECECEB;
}

.email_form input[type=tel] {
    border: 1px solid #ECECEB;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    background-color: #ECECEB;
}

.email_form input[type=text] {
    border: 1px solid #ECECEB;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ECECEB;
}

.email_form input[type=button] {
    cursor: pointer;
    border: 1px solid #ECECEB;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    background-color: #0068B7;
}

.email_form input[type=password] {
    border: 1px solid #ECECEB;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    background-color: #ECECEB;
}

.email_form button {
    cursor: pointer;
    width: 40%;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #0068B7;
    border: none;
}

.user_question {
    width: 762px;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #ECECEB;
}

.user_question_left {
    float: left;
    width: 330px;
    height: 132px;
    border-radius: 10px 10px 10px 10px;
}

.user_question_right {
    float: left;
    width: 330px;
    height: 132px;
    margin-left: 100px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #ECECEB;
}

.user_question_left div:nth-child(1) {
    float: left;
    width: 44%;
    text-align: center;
    height: 100%;
    border-right: 1px solid white;
    background-color: #F8B500;
    border-radius: 10px 0px 0px 10px;
}

.user_question_left div:nth-child(2) {
    float: left;
    width: 181px;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    background-color: #F8B500;
    text-align: center;
    box-sizing: border-box;
}

.user_question_left div:nth-child(2) h2 {
    margin-top: 48px;
    color: white;
}

.user_question_left div:nth-child(1)>img {
    margin-top: 22px;
}

.user_question_right div:nth-child(1)>img {
    margin-top: 22px;
}

.user_question_right div:nth-child(1) {
    float: left;
    border-right: 1px solid white;
    height: 100%;
    width: 44%;
    border-radius: 10px 0px 0px 10px;
    background-color: #0097E0;
}

.user_question_right div:nth-child(2) {
    float: left;
    width: 181px;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
}

.user_question_right div:nth-child(2) h2 {
    margin-top: 48px;
    color: #525252;
}

.user_right_main textarea {
    padding: 10px;
    resize: none;
    width: 687px;
    height: 160px;
    margin-left: 66px;
    margin-top: 40px;
    border-radius: 10px;
}

.feedback {
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 381px;
    margin-top: 40px;
    border: none;
    cursor: pointer;
    background-color: #0068B7;
    border-radius: 10px;
    color: white;
}

.quiz {
    padding: 40px;
}

.quiz input[name=quesition] {
    width: 80%;
    padding: 8px;
}

.quiz textarea {
    padding: 10px;
    resize: none;
    width: 80%;
    vertical-align: top;
    height: 160px;
}

.quiz input[type=button] {
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 336px;
    margin-top: 40px;
    border: none;
    cursor: pointer;
    background-color: #0068B7;
    border-radius: 10px;
    color: white;
}

.details_title {
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid #E6E6E6;
    overflow: hidden;
}

.details_title>img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
}

.details_main p {
    color: gray;
    margin-top: 24px;
    margin-bottom: 50px;
}

.details_main {
    padding-left: 20px;
    padding-bottom: 12px;
}

.details_main input[type=text] {
    margin-left: 10px;
    width: 650px;
    padding: 10px;
}

.details_main input[type=button] {
    padding: 11px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    cursor: pointer;
    background-color: #0068B7;
    color: white;
}

.details_common {
    width: 100%;
    height: 300px;
    margin-top: 12px;
}

.details_common {
    margin-top: 20px;
    width: 100%;
    background-color: white;
    height: 200px;
    border: 1px solid red;
}

.details_common_title {
    padding: 20px;
    box-sizing: border-box;
}

.details_common_list {
    padding: 5px;
}

.details_common_list>div:nth-child(1) {
    box-sizing: border-box;
    float: left;
    width: 76px;
    padding-left: 15px;
}

.details_common_list:nth-child(1) img {
    width: 46px;
    border-radius: 50%;
}

.details_list_title {
    margin-top: 14px;
}

.details_list_content {
    float: left;
}