{include file="common/header"}
<div class="main" style="background-color: #FAFAFA;padding-top: 1px;">

    <div class="main_title warp titlecard">

        <div class="main_title_log am-fl">
            <img src="/static/image/icon3.png@2x.png">
            <h2>校区展示</h2>
        </div>
        <div class="title_right">
            <ol class="breadcrumb-list">
                <img src="__STATIC__/image/icon.png"> 当前位置：

                <a href='/' class='crumb'>首页</a> {if !empty($parent) }&gt;
                <a href='javascript:;' class='crumb'>{$parent['name']}</a> {/if} {if !empty($current) } &gt; <a href='javascript:;' class='crumb'>{$current['name']}</a> {/if}
        </div>

    </div>
    <div class="card_main warp card clear" style="box-sizing:border-box;">
        <div class="card_main">
            {volist name="branch" id="vo3"}
            <div style="height:284px ;float: left;margin-top: 12px;" class="clear">
                <a href="/branch/{$vo3['id']}">
                    <div class="teacher_list" style="margin-right: 23px;margin-left: 0px;margin-top: 10px;">

                        <img src="/static{$vo3['thumb']}" height="210px" width="100%">
                        <div style="text-align: center;padding: 14px;">
                            <span>{$vo3['title']}</span>
                        </div>
                    </div>
                </a>
            </div>
            {/volist}
            <div class="clear"></div>
            <div style="margin: 0 auto; text-align: center; height: 60px;padding-top:20px ;padding-bottom: 5px;"> {$branch->render()}</div>

        </div>
        <div style="clear: both;"></div>

    </div>
    <div style="height:28px;  width: 1200px; background-color: #FAFAFA;margin: 0 auto;"></div>

</div>

{include file="common/footer"}