{include file="common/header"}
<div style="background-color: #FAFAFA;" class="main">
    <div class="layui-carousel" id="banner">

        <div carousel-item>
            {voList name="$slide" id="vo"}
            <div>
                <a href="{$vo['link']}">
                    <img src="__STATIC__{$vo['image']}" height="400px">
                </a>
            </div>
            {/voList}
        </div>
    </div>
    <div class="news warp card">
        <div class="card_title">
            <div class="title_log am-fl">
                <img src="__STATIC__/image/新闻@2x.png">
                <h2>新闻资讯</h2>
            </div>
            <div class="title_right" style="line-height: 50px;">
                <a href="/news/6">更多>></a>
            </div>
        </div>
        <ul>

            {volist name="recommend_list" id="vo"}
            <li>
                <a href="/article/{$vo['id']}">
                    <div class="title_li" style="width: 5px;height: 5px; border-radius:50% ; background-color: gray;float: left;margin-top: 8px;margin-right:2px ;"></div>
                    <div style="float: left;">{$vo['title']}</div>
                    <div style="float: right;">{$vo['publish_time']}</div>
                </a>
            </li>

            {/volist}
        </ul>
    </div>
    <div class="teat warp card">
        <div class="card_title">
            <div class="title_log am-fl">
                <img src="__STATIC__/image/icon.png@2x.png">
                <h2>师资力量</h2>
            </div>
            <div class="card_title_conten">
                <ul>
                    <li class="active">语文</li>
                    <li>数学</li>
                    <li>英语</li>
                    <li>计算机</li>
                </ul>
            </div>
            <div class="title_right" style="line-height: 50px;">
                <a href="#">更多>></a>
            </div>
        </div>
        {volist name="teacher" id="vo1"}
        <div class="card_content layui-carousel" {if condition="$key==0" } style="display: block;" {/if} id="teacher{$key}" style="background-color: white;">
            <div carousel-item>
                {volist name="vo1" id="vo2"}
                <div>
                    {volist name="vo2" id="vo3"}
                    <div class="teacher_list">

                        <img src="/static{$vo3['image']}" height="210px" width="100%">
                        <div style="text-align: center;padding: 14px;">
                            <span>{$vo3['username']}</span><span>{$vo3['major']}</span>
                        </div>
                    </div>

                    {/volist}
                </div>
                {/volist}
            </div>


        </div>
        {/volist}
    </div>
    <div class="student warp card">
        <div class="card_title">
            <div class="title_log am-fl">
                <img src="__STATIC__/image/icon2.png@2x.png">
                <h2>课程设置</h2>
            </div>
            <div class="title_right" style="line-height: 50px;">
                <a href="#">更多>></a>
            </div>
        </div>
        <ul>
            {volist name="course" id="vo"}
            <li class="teacher_list" style="height: 213px;">
                <a href="course/{$vo['id']}">
                    <div class="course" style="background-image: url(__STATIC__{$vo['image']});">
                        <div class="course_name">
                            <h2>{$vo['course_name']}</h2>
                        </div>

                    </div>
                    <div class="course_price">
                        <span style="color: #FF8E42;">{$vo['price']}</span> &nbsp;&nbsp;&nbsp;
                        <span style="color: gray;">原价:<del>{$vo['oldprice']}</del></span>

                    </div>
                </a>
            </li>
            {/volist}

        </ul>
    </div>
    <div class="student warp card" style="height: 410px;">
        <div class="card_title">
            <div class="title_log am-fl">
                <img src="__STATIC__/image/icon1.png@2x.png">
                <h2>学员风采</h2>
            </div>
            <div class="title_right" style="line-height: 50px;">
                <a href="#">更多>></a>
            </div>
        </div>
        <div class="card_content layui-carousel" id="student" style="background-color: white;">
            <div carousel-item>
                {volist name="student" id="vo"}
                <div>
                    {volist name="vo" id="vo1"}
                    <div class="teacher_list">

                        <img src="/static{$vo1['img']}" height="210px" width="100%">
                        <div style="text-align: center;padding: 14px;">
                            <span>{$vo1['school']}</span><span>{$vo1['name']}</span>
                        </div>
                    </div>

                    {/volist}
                </div>
                {/volist}
            </div>
        </div>
    </div>
    <div class="video warp card" style="height: 430px;">
        <div class="card_title">
            <div class="title_log am-fl">
                <img src="__STATIC__/image/图标@2x.png">
                <h2>精彩视频</h2>
            </div>
            <div class="title_right" style="line-height: 50px;">
                <a href="/videolist.html">更多>></a>
            </div>
        </div>
        <div class="card_content">

            <div class="video_left">
                <img src="/static{$video[0]['thumb']}" height="348px">
                <div class="video_in">
                    <div class="video_in_title">
                        <h2>{$video[0]['title']}</h2>
                        <span>8:10</span>
                    </div>

                </div>
                <img class="video_in_paly" src="__STATIC__/image/a.png">
                <div video_src='{$video[0]["src"]}' style="display: none;"></div>
            </div>
            <div class="video_right">
                <ul>
                    {volist name="video" id="vo" offset='1'}
                    <li>
                        <img src="/static{$vo['thumb']}" width="100%">
                        <div class="video_in">
                            <div class="video_in_title">
                                <h2>{$vo['title']}</h2>
                                <span>8:10</span>

                            </div>

                        </div>
                        <img class="video_in_paly" src="__STATIC__/image/a.png" width="38px">
                        <div video_src='{$vo["src"]}' style="display: none;"></div>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
    <div class="branch warp card">
        <div class="card_title">
            <div class="title_log am-fl">
                <img src="__STATIC__/image/icon3.png@2x.png">
                <h2>校区展示</h2>
            </div>
            <div class="title_right" style="line-height: 50px;">
                <a href="/Branchlist.html">更多>></a>
            </div>
        </div>
        <ul style="margin-top: 20px;">
            {volist name="branch" id="vo"}

            <li class="branch_list">
                <a href="branch/{$vo['id']}">
                    <img src="__STATIC__{$vo['thumb']}" width="100%">
                    <div class="course_price">
                        <span>南坪教学点</span>
                    </div>
                </a>
            </li>

            {/volist}
        </ul>
    </div>
    <div class="link warp card">
        <div class="card_title">
            <div class="title_log am-fl">
                <h2>友情链接</h2>
            </div>
        </div>
        <ul>
            {volist name="link" id="vo"}
            <li><a href="{$vo['link']}">{$vo['name']}</a></li>
            {/volist}
        </ul>
    </div>
</div>
<!-- <div class="videoplay">
    <div class="videoplay_main">
        <video width="100%" height="480px" loop controls autoplay="autoplay">
            <source src="__STATIC__/video/df11a68ae6a24494bf47eb61b49e0fc0.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
          您的浏览器不支持Video标签。
          </video>
        <div class="videoplay_main_title">
            <h2>正学文灯学员采访</h2>
        </div>
    </div>
</div> -->
<div class="zxwd" style="display: none;">
    <div class="zxwd_title">
        <h2>欢迎来到正学文灯，请选择你要上课的城市</h2>
    </div>
    <div class="zxwd_content">
        <div class="zxwd_content_wd" style="border-bottom: 1px solid #E6E6E6;">
            <div class="zxwd_content_log">
                <a href="#">
                    <img src="__STATIC__/image/LOGO1.jpg" />
                </a>
            </div>
            <span>文登专升本</span>
            <div class="zxwd_content_main">

                重庆

            </div>
        </div>
        <div class="zxwd_content_wd">
            <div class="zxwd_content_log">
                <a href="#">
                    <img src="__STATIC__/image/logo2.png" />
                </a>
            </div>
            &nbsp; &nbsp; <span style="margin-left: 20px;">正学专升本</span>
            <div class="zxwd_content_main">

                重庆

            </div>
        </div>

    </div>
</div>
<div style="height:28px; width: 100%; background-color: #FAFAFA;margin: 0 auto;"></div>
<script>
    layui.use(['carousel', 'jquery'], function() {
        var carousel = layui.carousel;
        //建造实例
        var $ = layui.$
        carousel.render({
            elem: '#banner',
            width: '100%', //设置容器宽度,
            arrow: 'always',
            interval: 3000,
            height: '400px' //始终显示箭头
                //,anim: 'updown' //切换动画方式
        });
        carousel.render({
            elem: '#student',
            width: '100%', //设置容器宽度,
            arrow: 'always',
            interval: 3000,
            height: '320px',
            arrow: 'none' //始终显示箭头
                //,anim: 'updown' //切换动画方式
        });
        var teacher0 = carousel.render({
            elem: '#teacher0',
            width: '100%', //设置容器宽度,
            interval: 3000,
            height: '330px',
            arrow: 'none' //始终显示箭头
                //,anim: 'updown' //切换动画方式
        });
        var teacher1 = carousel.render({
            elem: '#teacher1',
            width: '0%', //设置容器宽度,
            interval: 3000,
            height: '0',
            arrow: 'none' //始终显示箭头
                //,anim: 'updown' //切换动画方式
        });

        var teacher2 = carousel.render({
            elem: '#teacher2',
            width: '0%', //设置容器宽度,
            interval: 3000,
            height: '0',
            arrow: 'none' //始终显示箭头
                //,anim: 'updown' //切换动画方式
        });

        var teacher3 = carousel.render({
            elem: '#teacher3',
            width: '0', //设置容器宽度,
            interval: 3000,
            height: '0',
            arrow: 'none' //始终显示箭头
                //,anim: 'updown' //切换动画方式
        });

        var teacher3 = carousel.render({
            elem: 'student',
            width: '100%', //设置容器宽度,
            interval: 3000,
            height: '360px',
            arrow: 'none' //始终显示箭头
                //,anim: 'updown' //切换动画方式
        });

        $('.news li').hover(function() {

            this.getElementsByClassName('title_li')[0].style.backgroundColor = '#0068b7'
        }, function() {
            this.getElementsByClassName('title_li')[0].style.backgroundColor = 'gray'
        })
        $('.card_title_conten ul>li').click(function() {
            var major = this.innerText;
            var index = $('.card_title_conten ul>li').index($('.card_title_conten .active'))
            $('.card_title_conten .active').removeClass('active')

            var name = eval('teacher' + index)
            this.classList.add('active')
            name.reload({
                elem: '#teacher' + index,
                width: '0%',
                height: '0%',
                indicator: 'none',
                arrow: 'none'

            })
            $('#teacher' + index).css('display', 'none');
            switch (major) {
                case '语文':
                    console.log('调用');

                    teacher0.reload({
                        elem: '#teacher0',
                        width: '100%', //设置容器宽度,
                        interval: 3000,
                        height: '330px',
                        indicator: 'inside',
                        arrow: 'none' //始终显示箭头
                            //,anim: 'updown' //切换动画方式

                    })
                    $('#teacher0').css('display', 'block');
                    break;
                case '数学':

                    teacher1.reload({
                        elem: '#teacher1',
                        width: '100%', //设置容器宽度,
                        interval: 3000,
                        height: '330px',
                        indicator: 'inside',
                        arrow: 'none' //始终显示箭头
                            //,anim: 'updown' //切换动画方式


                    })
                    $('#teacher1').css('display', 'block');
                    break;
                case '英语':

                    teacher2.reload({
                        elem: '#teacher2',
                        width: '100%', //设置容器宽度,
                        interval: 3000,
                        height: '330px',
                        indicator: 'inside',
                        arrow: 'none' //始终显示箭头
                            //,anim: 'updown' //切换动画方式


                    })
                    $('#teacher2').css('display', 'block');
                    break;
                case '计算机':

                    teacher3.reload({
                        elem: '#teacher3',
                        width: '100%', //设置容器宽度,
                        interval: 3000,
                        height: '330px',
                        indicator: 'inside',
                        arrow: 'none'
                            //始终显示箭头

                    })
                    $('#teacher3').css('display', 'block');
                    break;
                default:
                    break;
            }



        })

    });
</script>
{include file="common/footer"}