{include file="common/header"}
<div class="main" style="background-color: #FAFAFA;">
    <img src="__STATIC__/image/aboutbanner.jpg" width="100%" height="250px" />
    <div class="school warp">
        <div class="school_left">
            <a href="/about.html ">
                <div class="school_left_main ">
                    <div class="school_left_num">
                        <h2>01

                        </h2>
                    </div>
                    <div class="school_left_title">
                        <h2>人才招聘</h2>
                    </div>

                </div>
            </a>
            <a href="#">
                <div class="school_left_main">
                    <div class="school_left_num active">
                        <h2>02
                            <div style="width: 25px; height: 2px; background-color: #0068B7;position: absolute;left: 35px; "></div>
                        </h2>
                    </div>
                    <div class="school_left_title active_bg">
                        <h2>联系我们</h2>
                    </div>

                </div>
            </a>
        </div>

        <div class="school_right">
            <div class="main_title schoolwarp card " style="padding-top: 0;border-bottom: 1px solid #e6e6e6; ">

                <div class="main_title_log am-fl ">
                    <h2 style="font-weight: normal;line-height: 60px; ">联系我们</h2>

                </div>
                <div class="title_right ">
                    <ol class="breadcrumb-list ">
                        <img src="__STATIC__/image/icon.png "> 当前位置：

                        <a href='/' class='crumb'>首页</a> {if !empty($parent) }&gt;
                        <a href='javascript:;' class='crumb'>{$parent['name']}</a> {/if} {if !empty($current) } &gt; <a href='javascript:;' class='crumb'>{$current['name']}</a> {/if}
                </div>
            </div>

            <div class="school_right_main " style="padding-left: 20px; padding-right: 20px;box-sizing: border-box;">
                <div class="contact">
                    <div style="float: left;">
                        <p><img src="__STATIC__/image/icon-1.png">&nbsp;&nbsp;<span>重庆市沙坪坝区沙正街8号欣阳广场G栋1301</span></p>
                        <p><img src="__STATIC__/image/icon-2.png">&nbsp;&nbsp;<span>023-6582-3051</span></p>
                        <p><img src="__STATIC__/image/icon-3.png">&nbsp;&nbsp;<span>40000000000@qq.com</span></p>
                        <p><img src="__STATIC__/image/icon-4.png">&nbsp;&nbsp;<span>400-000-000</span></p>
                    </div>
                    <img src="__STATIC__/image/mup.jpg" style="float: right;">
                </div>

            </div>

        </div>
        <div style="clear: both;"></div>
    </div>
</div>

{include file="common/footer"}