{include file="common/header"}
<div class="main" style="background-color: #FAFAFA;">
    <img src="__STATIC__/image/aboutbanner.jpg" width="100%" height="250px" />
    <div class="school warp">
        <div class="school_left ">
            <a href="/about.html ">
                <div class="school_left_main ">
                    <div class="school_left_num active ">
                        <h2>01
                            <div style="width: 25px; height: 2px; background-color: #0068B7;position: absolute;left: 35px; "></div>
                        </h2>
                    </div>
                    <div class="school_left_title active_bg ">
                        <h2>人才招聘</h2>
                    </div>

                </div>
            </a>
            <a href="/contact.html">
                <div class="school_left_main ">
                    <div class="school_left_num ">
                        <h2>02

                        </h2>
                    </div>
                    <div class="school_left_title ">
                        <h2>联系我们</h2>
                    </div>

                </div>
            </a>
        </div>

        <div class="school_right">
            <div class="main_title schoolwarp card " style="padding-top: 0;border-bottom: 1px solid #e6e6e6; ">

                <div class="main_title_log am-fl ">
                    <h2 style="font-weight: normal;line-height: 60px; ">人才招聘</h2>

                </div>
                <div class="title_right ">
                    <ol class="breadcrumb-list ">
                        <img src="__STATIC__/image/icon.png "> 当前位置：

                        <a href='/' class='crumb'>首页</a> {if !empty($parent) }&gt;
                        <a href='javascript:;' class='crumb'>{$parent['name']}</a> {/if} {if !empty($current) } &gt; <a href='javascript:;' class='crumb'>{$current['name']}</a> {/if}
                </div>
            </div>

            <div class="school_right_main " style="padding-left: 20px; padding-right: 20px;box-sizing: border-box; ">
                <div style="width: 100%;height: 230px;border: 1px solid #ECECEB;padding: 9px; box-sizing: border-box; ">
                    <img src="__STATIC__/image/joinus.jpg " style="float: left; ">
                    <div style="float: left;width: 450px; margin-left: 30px;color: gray; ">
                        <p>我们一直在招人，并不代表是有多么缺人。</p>
                        <p>只是想告诉您，有一个优秀的团队时刻在等待优秀的您，不是想找几十个人一起上班，而是找志同道合的人一起奋斗！</p>
                        <p>新年全新的起点，全新的开始，给自己人生一个华丽的转折点，欢迎您加入正学文灯大家庭，我们携手同行共同发展！</p>
                    </div>
                </div>
                <div>
                    <div style="margin: 0 auto; width:187px;height: 28px;text-align: center;margin-top: 24px;">
                        <div style="width: 44px;height: 1px; background-color: black;float: left;margin-top: 14px;"></div>
                        <h2 style="float: left;">招聘岗位</h2>
                        <div style="width: 44px;height: 1px; background-color: black;float: left;margin-top: 14px;"></div>
                    </div>
                    <span style="margin:0 auto;display: block;font-size: 17px;width: 153px;color: gray;">Recruitment post</span>
                </div>
                <ul class="job">
                    {volist name="job" id='vo'}
                    <li>
                        <h2>{$vo['title']}</h2>
                        <div>
                            {$vo['demand']}
                        </div>
                        <span>了解更多>></span>
                    </li>
                    {/volist}
                </ul>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>

{include file="common/footer"}