{include file="common/header"}
<div class="main" style="background-color: #FAFAFA;padding:1px ;">

    <div class="main_title warp titlecard">

        <div class="main_title_log am-fl">
            <img src="__STATIC__/image/zl.png">
            <h2>资料下载</h2>
        </div>
        <div class="title_right">
            <ol class="breadcrumb-list">
                <img src="__STATIC__/image/icon.png"> 当前位置：

                <a href='/' class='crumb'>首页</a> {if !empty($parent) }&gt;
                <a href='javascript:;' class='crumb'>{$parent['name']}</a> {/if} {if !empty($current) } &gt; <a href='javascript:;' class='crumb'>{$current['name']}</a> {/if}
        </div>

    </div>
    <div class="teacher_title">
        <form action="" method="post">
            <h3>精确查找：</h3>
            <ul>

                <li style="width: 100px; margin-top: 8px;">
                    年份：<select name="year">
                    <option value="">全部</option>
                        {foreach $year as $vo}
                    <option value="{$vo['year']}">{$vo['year']}</option>
                        {/foreach}
                </select>

                </li>


                <li style="width: 150px; margin-top: 8px;">
                    院校：<select name="school">
                    <option value="">全部</option>
                    {volist name='school' id='vo'}
                    <option value="{$vo['id']}">{$vo['name']}</option>
                    {/volist}
                </select>

                </li>

                <li style="width: 100px; margin-top: 8px;">
                    科目：<select name="course">
                    <option value="">全部</option>
                    <option value="1">语文</option>
                    <option value="2">数学</option>
                    <option value="3">英语</option>
                </select>

                </li>
                <li style="width: 100px; margin-top: 8px;">
                    <input type='submit' value='提交' style="width: 60px;height: 23px;background-color: #0068b7; color: white;border: 1px solid #0068b7;" />

                </li>

            </ul>
            <div class="clear"></div>
    </div>
    </form>
    <div class="news_list warp">
        <div class="news_list_left" style="padding-top: 31px;box-sizing: border-box;padding-left: 12px;padding-right: 12px;">
            <table width='100%' style="border: 1px solid #ccc;" cellpadding=0 cellspacing=0>
                <tr>
                    <th style="width: 400px;">
                        <h3>资料名称</h3>
                    </th>
                    <th>
                        <h3>领取方式</h3>
                    </th>
                    <th>
                        <h3>点击量</h3>
                    </th>
                </tr>
                {volist name="data" id='vo'}
                <tr>
                    <td><img src="__STATIC__/image/doc.png" width="25px" style="margin-right: 25px;">{$vo['name']}</td>
                    <td><a href="/file/{$vo['id']}" style="color: #0068b7;">{if $vo['receive']==0}免费领取{else /}会员领取{/if}</a></td>
                    <td style="color: #0068b7;">{$vo['clicks']}</td>
                </tr>
                {/volist}

            </table>
            <div style="clear: both;"></div>
            <div style="margin: 0 auto; text-align: center; height: 60px;padding-top:20px ;"> {$data->render()}</div>


        </div>



        {include file="common/left_news"}

        <div style="clear: both;"></div>
    </div>

</div>

<div style="clear: both;"></div>
{include file="common/footer"}