{include file="common/header"}
<div class="main" style="background-color: #FAFAFA;padding:1px ;">
    <div class="main_title warp titlecard">

        <div class="main_title_log am-fl">
            <img src="__STATIC__/image/新闻@2x.png">
            <h2>新闻资讯</h2>
        </div>
        <div class="title_right">
            <ol class="breadcrumb-list">
                <img src="__STATIC__/image/icon.png"> 当前位置：

                <a href='/' class='crumb'>首页</a> {if !empty($parent) }&gt;
                <a href='javascript:;' class='crumb'>{$parent['name']}</a> {/if} {if !empty($current) } &gt; <a href='javascript:;' class='crumb'>{$current['name']}</a> {/if}
        </div>
    </div>
    <div class="news_list warp">
        <div class="news_list_left">
            <ul>
                {volist name="news" id="vo"}
                <li>
                    <a href="/article/{$vo['id']}">

                        <img src="__STATIC__{$vo['thumb']}" style="float: left;display: block;width: 182px;height: 132px;" />
                        <div class="news_list_left_main">
                            <h3>{$vo['title']}</h3>
                            <div style="height: 73px; overflow: hidden;width: 100%;margin-bottom: 11px;text-overflow:ellipsis;">
                                <p>{$vo['introduction']}</p>
                            </div>
                            <div><span><img src="">{$vo['create_time']}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;来源:{$vo['author']}</div>
                        </div>
                    </a>
                </li>
                {/volist}

            </ul>
            <div style="clear: both;"></div>
            <div style="margin: 0 auto; text-align: center; height: 60px;padding-top:20px ;"> {$news->render()}</div>
            <div style="height:28px; width: 100%; background-color: #FAFAFA;margin: 0 auto;"></div>

        </div>



        {include file="common/left_news"}

        <div style="clear: both;"></div>
    </div>

</div>

<div style="clear: both;"></div>
{include file="common/footer"}