<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/css/index.css">
    <title></title>
</head>

<body>
    <div class="header">
        <div class="title">
            <div class="title_left">
                <span>正学文灯专升本欢迎您!</span>


            </div>
            <div class="title_right">
                <ul>
                    <li><a href="#">个人中心</a></li>
                    <li>
                        <div class="term"></div>
                    </li>
                    <li><a href="#">登录</a></li>
                    <li>
                        <div class="term"></div>
                    </li>
                    <li><a href="#">注册</a></li>
                    <li>
                        <div class="term"></div>
                    </li>
                    <li><a href="#">返回网站首页</a></li>
                </ul>

            </div>
        </div>
        <div class="head_up">
            <div class="logo am-fl">
                <a href="#">
                    <img src="__STATIC/image/" />
                </a>
                <a href="#">
                    <img src="__STATIC/image/" />
                </a>
            </div>
        </div>

    </div>
</body>

</html>