{include file="common/userheader"}
<div class="main" style="background-color: #FAFAFA;">
    <div class="user_main">
        {include file='common/login_left'}
        <div class="user_right">
            <div class="user_right_title">
                <h3>账号设置</h3>
            </div>
            <div class="user_right_main">
                <div class="account">
                    <ul style="margin-left: 30px;">
                        <li>
                            {if empty($user['email'])}
                            <div style="width: 370px;display: inline-block;"><span>邮箱账号：</span>为绑定邮箱，绑定后可使用该邮箱自己登录 </div><a href="/user/email"><button>绑定</button></a>{else /}
                            <div style="width: 370px;display: inline-block;"><span>邮箱账号：</span>{$user['email']}</div> <a href="/user/email"><button>更换</button></a>{/if}
                        </li>
                        <li>
                            <div style="width: 370px;display: inline-block;"><span>手机账号：</span>可以使用手机{$user['mobile']}马上登录</div> <a href="/user/phone"><button>更换</button></a></li>
                        <li>
                            <div style="width: 370px; display: inline-block;"><span>登录密码：</span>建议您经常修改密码，以保证账号更加安全</div> <a href="/user/password"><button>修改</button></a></li>
                    </ul>

                </div>

            </div>
        </div>

    </div>
</div>

<div style="clear:both"></div>
<div class="footer ">
    <div class="footer_main ">
        <div class="footer_log am-fl ">
            <img src="__STATIC__/image/foot-logo.png " alt="文登 " />
        </div>
        <div class="footer_list am-fl ">
            <ul>
                <li><a href="# ">学校简介</a></li>
                <li><a href="# ">广告合作</a></li>
                <li><a href="# ">关于我们</a></li>
                <li><a href="# ">新闻咨询</a></li>
                <li><a href="# ">意见反馈</a></li>
                <li><a href="# ">人才招聘</a></li>
                <li><a href="# ">网站地图</a></li>
                <li><a href="# ">免责声明</a></li>
                <li><a href="# ">联系我们</a></li>
            </ul>
        </div>
        <div class="footer_em am-fl ">
            <img src="__STATIC__/image/qrcode_for_gh_9531463fa668_258.jpg " alt="文登二维码 " style="float: left; " />
            <div class="am-fl ">
                <p style="font-size: 16px; ">全国咨询热线</p>
                <p>023-6582-3501</p>
                <button>在线咨询</button>
            </div>

        </div>
    </div>


</div>

<script src="__STATIC__/js/public.js "></script>

</body>

</html>