{include file="common/userheader"}
<div class="main" style="background-color: #FAFAFA;padding: 1px;">
    <div class="email_edit">
        <a href="javascript:history.back(-1);">退出</a>
        <div class="email_edit_main">
            <div class="email_edit_title">
                <h2>账号安全</h2>
            </div>
            <form>
                <div class="email_form">
                    <span>修改密码</span>

                    <input type="password" name="password1" placeholder="原密码">
                    <input type="password" name="password" placeholder="新密码">
                    <input type="password" name="password2" placeholder="再次输入密码">
                    <input type="button" value="确定">

                </div>
            </form>
        </div>

    </div>

    <script>
        $('.email_form input[type=button]').click(function() {
            $.ajax({
                url: '/user/passwordedit',
                type: 'post',
                data: $("form").serializeArray(),
                success: function(data) {
                    if (data.status == 1) {

                        layer.msg(data.message, {
                            icon: 6
                        });
                        history.back(-1);
                    } else {
                        layer.msg(data.message, {
                            icon: 5
                        });
                        // history.go(0)
                    }


                }




            })

        })
    </script>
</div>
<div style="clear:both"></div>
<div class="footer ">
    <div class="footer_main ">
        <div class="footer_log am-fl ">
            <img src="__STATIC__/image/foot-logo.png " alt="文登 " />
        </div>
        <div class="footer_list am-fl ">
            <ul>
                <li><a href="#">学校简介</a></li>
                <li><a href="#">广告合作</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">新闻咨询</a></li>
                <li><a href="#">意见反馈</a></li>
                <li><a href="#">人才招聘</a></li>
                <li><a href="#">网站地图</a></li>
                <li><a href="#">免责声明</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
        <div class="footer_em am-fl ">
            <img src="__STATIC__/image/qrcode_for_gh_9531463fa668_258.jpg " alt="文登二维码 " style="float: left; " />
            <div class="am-fl ">
                <p style="font-size: 16px; ">全国咨询热线</p>
                <p>023-6582-3501</p>
                <button>在线咨询</button>
            </div>

        </div>
    </div>


</div>

<script src="__STATIC__/js/public.js "></script>

</body>

</html>