{include file="common/userheader"}
<div class="main" style="background-color: #FAFAFA;">
    <div class="user_main">
        {include file='common/login_left'}
        <div class="user_right">
            <div class="user_right_title">
                <h3>完善资料</h3>
            </div>
            <div class="user_right_main">
                <div class="user_log">
                    <img src="__STATIC__{$user['image']}">
                    <h3>{$user['username']}</h3>
                </div>
                <div class="user_right_xiangxi">
                    <form class="layui-form">
                        <ul>
                            <li><span>手机号：&nbsp;&nbsp;&nbsp;</span>{$user['mobile']}</li>
                            <li>
                                <span> 性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</span>

                                <input type="radio" name="sex" id="nan" value="0" {if $user[ 'sex']==0}checked{/if} style="display: inline-block;"><span>女</span>

                                <input type="radio" name="sex" id="nv" value="1" {if $user[ 'sex']==1}checked{/if} style="display: inline-block;"><span> 男</span>

                            </li>
                            <li><span>现居：</span><input type="text" value="{$user['addr']}" name="addr"></li>
                            <li><span>所诉院校：</span><input type="text" value="{$user['courses']}" name="courses"></li>
                            <li><span>学校专业：</span><input type="text" value="{$user['major']}" name="major"></li>
                            <li><span>邮箱：</span><input type="email" value="{$user['email']}" lay-verify="email" name="email"></li>
                        </ul>
                        <input type="button" value="提交" lay-filter="demo1" lay-submit="" />
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript ">
    layui.use(['form', 'layedit', 'laydate'], function() {

        var form = layui.form

        , layer = layui.layer

        , layedit = layui.layedit

        , laydate = layui.laydate;

        //自定义验证规则

        form.verify({

            phone: [/^1[3|4|5|7|8]\d{9}$/, '手机必须11位，只能是数字！']

            ,
            email: [/^[a-z0-9._%-]+@([a-z0-9-]+\.)+[a-z]{2,4}$|^1[3|4|5|7|8]\d{9}$/, '邮箱格式不对']

        });

        //创建一个编辑器

        layedit.build('LAY_demo_editor');
        //监听提交
        form.on('submit(demo1)', function(data) {
            //获取性别
            var sex = $.trim($('.user_right_xiangxi input[name=sex]:checked').val());
            //获取地址
            var addr = $.trim($('.user_right_xiangxi input[name=addr]').val());
            //获取院校
            var courses = $.trim($('.user_right_xiangxi input[name=courses]').val());
            //获取专业
            var major = $.trim($('.user_right_xiangxi input[name=major]').val());
            //获取邮箱
            var email = $.trim($('.user_right_xiangxi input[name=email]').val());
            $.ajax({
                url: '/user/sex',
                type: 'post',
                data: {
                    'sex': sex,
                    'addr': addr,
                    'courses': courses,
                    'major': major,
                    'email': email
                },
                success: function(data) {


                    if (data.status == 1) {

                        layer.msg(data.message, {
                            icon: 6
                        });
                    } else {
                        layer.msg(data.message, {
                            icon: 5
                        });
                    }

                    // window.location.href = "/ "
                }




            })


        });
    })
</script>
<div style="clear:both"></div>
<div class="footer ">
    <div class="footer_main ">
        <div class="footer_log am-fl ">
            <img src="__STATIC__/image/foot-logo.png " alt="文登 " />
        </div>
        <div class="footer_list am-fl ">
            <ul>
                <li><a href="# ">学校简介</a></li>
                <li><a href="# ">广告合作</a></li>
                <li><a href="# ">关于我们</a></li>
                <li><a href="# ">新闻咨询</a></li>
                <li><a href="# ">意见反馈</a></li>
                <li><a href="# ">人才招聘</a></li>
                <li><a href="# ">网站地图</a></li>
                <li><a href="# ">免责声明</a></li>
                <li><a href="# ">联系我们</a></li>
            </ul>
        </div>
        <div class="footer_em am-fl ">
            <img src="__STATIC__/image/qrcode_for_gh_9531463fa668_258.jpg " alt="文登二维码 " style="float: left; " />
            <div class="am-fl ">
                <p style="font-size: 16px; ">全国咨询热线</p>
                <p>023-6582-3501</p>
                <button>在线咨询</button>
            </div>

        </div>
    </div>


</div>

<script src="__STATIC__/js/public.js "></script>

</body>

</html>